*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #DECBA4, #3E5151);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'century gothic';
}
.container{
    width: 50%;
    margin-left: 25%;
    margin-top: 5em;
    height: 350px;
    border: 2px solid #fff;
    border-radius: 5px;
    align-items: center;
    padding-left: 12em;
}
.container h2{
    margin-top: 10px;
    color: #fff;
}
#textInput{
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background:none;
    width: 300px;
    margin-top: 10px;
}
#textInput:focus{
    outline: honeydew;
}
#textInput::placeholder{
    color: red;
}
.cta{
    display: flex;
    /* justify-content: space-evenly; */
    width: 500px;
}

.cta button{
    width: fit-content;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px;
    transition: all .3s ease-out;
}
.cta button:hover{
    cursor: pointer;
    background:#fff;
    color: #000;
}
.container label{
    color: #fff;
}
.container select{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}